#profile .btn {
    text-align: left !important;
    justify-content: left !important;
}

#search input{
    transition: width 0.4s ease-in-out !important;
    width: 30% !important;
}

#search input:focus {
    width: 50% !important;
}
