<div (scrolled)="onScroll()" [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50" infiniteScroll>
  @for (post of posts; track post.post_id) {
    <div class="bg-white p-4 rounded-lg shadow mb-2">
      <div class="flex items-start mb-2">
        <img [appSrc]="post.profile.user.imageName" alt="Profile" class="w-12 h-12 rounded-full mr-4">
        <div class="w-full">
          @if (users.isJobseeker(post.profile.user) || users.isAdmin(post.profile.user)) {
            <h3 class="text-lg font-semibold leading-none">{{ post.profile.user.first_name }} {{ post.profile.user.last_name }}</h3>
            <span class="text-sm text-gray-500 leading-none">{{ post.profile.user.title }}</span>
          } @else if (users.isCompany(post.profile.user)) {
            <h3 class="text-lg font-semibold leading-none">{{ post.profile.user.company_name }}</h3>
            <span class="text-sm text-gray-500 leading-none">{{ post.profile.user.sector }}</span>
          }
          <p class="text-sm text-gray-500 leading-none">{{ utils.formatDate(post.created, true) }}</p>
          <p class="my-4">{{ post.description }}</p>
          <div class="relative my-2">
            <img [appSrc]="post.imageName" alt="Post image" loading="lazy" class="w-full h-full object-cover">
          </div>
        </div>
      </div>
      <div class="mt-4 flex justify-between text-gray-600 text-sm">
        <div class="flex space-x-2">
          <span class="cursor-pointer"><i class="bi bi-hand-thumbs-up-fill"></i></span>
          <span class="cursor-pointer">Commenter</span>
          <span class="cursor-pointer">Envoyer</span>
        </div>
      </div>
    </div>

    @if (isLoading) {
      <div class="flex w-full flex-col gap-4">
        <div class="flex items-center gap-4">
          <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
          <div class="flex flex-col gap-4">
            <div class="skeleton h-4 w-20"></div>
            <div class="skeleton h-4 w-28"></div>
          </div>
        </div>
        <div class="skeleton h-32 w-full"></div>
      </div>
    }
  }
</div>
