<div class="is-flex is-align-items-center" style="height: 90vh;">
    <div class="container is-max-desktop p-3 box">
        <h1 class="title is-1 mb-3 has-text-centered">LinkedOut</h1>

        <form [formGroup]="registerFrom" (ngSubmit)="submitRegisterForm()"
              class="flex flex-col justify-center items-center">
            <h3 class="mb-6 text-lg">Create an account</h3>

            <div class="flex flex-wrap mb-0">
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Enter your first name</span>
                    </label>
                    <input type="text" formControlName="first_name" tabindex="1" required class="input input-bordered">
                </div>
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Enter your last name</span>
                    </label>
                    <input type="text" formControlName="last_name" tabindex="2" required class="input input-bordered">
                </div>
            </div>

            <div class="flex flex-wrap mb-0">
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Enter a username</span>
                    </label>
                    <input type="text" formControlName="username" tabindex="3" required class="input input-bordered">
                </div>
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Enter your email address</span>
                    </label>
                    <input type="email" formControlName="email" tabindex="4" required class="input input-bordered">
                </div>
            </div>

            <div class="flex flex-wrap mb-0">
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Enter a password</span>
                    </label>
                    <input type="password" formControlName="password" tabindex="5" required class="input input-bordered">
                </div>
                <div class="form-control w-full md:w-1/2 px-2">
                    <label class="label">
                        <span class="label-text">Confirm the password</span>
                    </label>
                    <input type="password" formControlName="confirm_password" tabindex="6" required class="input input-bordered">
                </div>
            </div>

            <button tabindex="7" [disabled]="!formIsValid()" class="btn btn-primary px-5" type="submit">Register</button>
        </form>
        <br>

        <div class="links mt-4 has-text-centered">
            <a tabindex="8" class="is-size-6" routerLink="/login">Back to login</a>
        </div>
    </div>
</div>

