<footer class="footer p-4 bg-blue-50 w-100 left-0 bottom-0 ">
  <aside class="flex justify-around space-x-2">
    <img alt="LinkedOut Logo"
         class="w-1/6 mr-4" height="400"
         ngSrc="https://ax0judwwk3y8.objectstorage.eu-paris-1.oci.customer-oci.com/n/ax0judwwk3y8/b/static/o/logo.png"
         priority width="400">
    <p class="text-gray-700 ">2024 LinkedOut <br>
      Made with ❤️ by <a class="text-blue-700" href="https://github.com/YassineDER" target="_blank">Yassine DERGAOUI</a>
      <br>
      <br>
      <strong>
        Avis de non-responsabilité:
      </strong>
      Cette application est un clone créé à des fins éducatives uniquement et n'est ni affiliée ni approuvée par le site
      Web d'origine. Aucune donnée utilisateur n'est collectée. Tout le code a été écrit par le développeur.

    </p>
  </aside>
  <div>
    <h4 class="footer-title">Links</h4>
    <div class="flex flex-col gap-2">
      <a class="link-primary" routerLink="/privacy-policy">Privacy Policy</a>
      <a class="link-primary" routerLink="/terms-and-conditions">Terms of Service</a>
    </div>
  </div>
</footer>
