<div class="bg-white rounded-lg shadow p-6">
  <h2 class="text-xl font-bold mb-4">Accès au compte</h2>

  <ul>
    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Recherche d’un emploi</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Recruter quelqu’un</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Connexion avec d’autres personnes</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Publication et commentaires</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Messagerie</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-3">
        <span>Mise à jour de votre profil</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>
  </ul>
</div>
