<div class="p-3 bg-white shadow rounded-lg">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-bold">Activité</h2>
  </div>

  <div role="tablist" class="tabs tabs-lifted">
    <a role="tab" class="tab" [ngClass]="actualTab === Tabs.POSTS ? 'tab-active' : ''" (click)="setTab(Tabs.POSTS)">Posts</a>
    <a role="tab" class="tab ml-4" [ngClass]="actualTab === Tabs.COMMENTS ? 'tab-active' : ''" (click)="setTab(Tabs.COMMENTS)">Commentaires</a>
  </div>

  <div class="mt-4 text-sm">
    @if (actualTab === Tabs.POSTS) {
      <div>
        <p><strong>Yassine Dergaoui</strong> a republié ceci • 2 mois</p>
        <p><strong>Stefano Alletti</strong></p>
        <p class="text-gray-600">Le langage le plus important n'est pas Python, C++, Rust, PHP ou Java. 99 % d'entre
          vous
          se tromperont 👉 c'est l'écriture. 1- L'écriture d...</p>
      </div>
      <div class="divider "></div>
      <div>
        <p><strong>Yassine Dergaoui</strong> a republié ceci • 3 mois</p>
        <p><strong>Louiza KERDEL</strong></p>
        <p class="text-gray-600">Je cherche un nouvel emploi : 💼 2900€ net par mois 📅 treizième mois 💊 mutuelle et
          tickets
          restaurant à 100% employeur 📆 8 sem...</p>
      </div>
    }
    @else {
      <div>
        <p><strong>Yassine Dergaoui</strong> a commenté un post • 1 mois</p>
        <p class="text-gray-600">Le jeu est formidable et vraiment ultra-realiste. bravo les gars !</p>
      </div>
      <div class="divider"></div>
      <div>
        <p><strong>Yassine Dergaoui</strong> a commenté un post • 1 mois</p>
        <p class="text-gray-600">Quand le stagiaire Bac+2 drop la database de production par erreur.</p>
      </div>
      <div class="divider"></div>
      <div>
        <p><strong>Yassine Dergaoui</strong> a commenté un post • 2 mois</p>
        <p class="text-gray-600">La "possibilité" de réaliser un rêve 💀</p>
      </div>
    }
  </div>

  <a [routerLink]="Path.PROFILE_POSTS.toString()" class="btn btn-link text-lg p-0 mt-4 text-blue-500">Afficher tous les posts →</a>
</div>
