<div class="bg-slate-100 flex flex-col items-center h-screen">
  <a class="w-1/12 mr-auto ml-4 mt-4" [routerLink]="Path.HOME.toString()">
    <img priority ngSrc="https://ax0judwwk3y8.objectstorage.eu-paris-1.oci.customer-oci.com/n/ax0judwwk3y8/b/static/o/slogan.png"
         alt="logo" height="248" width="851"/></a>

  <form [formGroup]="passResetForm" autocomplete="off" (ngSubmit)="submitResetRequestForm()"
        class="bg-white px-12 m-auto py-8 rounded-lg shadow-lg w-2/5">
    <h2 class="text-3xl font-bold mb-2">Mot de passe oublié ? </h2><br>

    <div class="space-y-4 mb-2">
      <input type="email" [formControl]="email" class="input input-bordered w-full"
             [ngClass]="(email.touched || email.dirty) && email.invalid ? 'input-error' : 'input-primary'"
             placeholder="Email"/>
    </div>
    <p class="text-gray-500 mb-6">
      Nous enverrons un code de vérification à cette adresse e-mail si un compte LinkedOut existant correspond.
    </p>

    @if (usingMFA) {
      <p class="text-gray-500 mb-6">Entrez le code de vérification à 6 chiffres depuis votre application d'authentification.</p>
      <div class="my-5 text-center">
        <ng-otp-input [formCtrl]="mfa_code" [config]="OTP_CONFIG"/>
      </div>
    }


    <button type="submit" class="btn btn-primary text-white text-lg w-full">Suivant</button>
    <br><br>
    <button (click)="redirectToSender()" type="button" class="btn btn-outline text-lg w-full">Retour</button>

  </form>
</div>
