<div class="mx-4 my-5">
  <div class="gap-4 grid grid-cols-4 w-full">
    @if ((user)) {
      <!-- first column -->
      <div class="col-span-3 flex flex-col">
        <app-header-profile class="p-0 mb-4" [user]="user" />
        <app-about-profile class="p-0 mb-4" [profile]="user.profile" />
        <app-activity-profile class="p-0 mb-4" [profile]="user.profile" />
      @if (users.isJobseeker(user)) {
        <app-experience-profile class="p-0 mb-4" [experiences]="user.profile.experiences" />
        <app-education-profile class="p-0 mb-4" [studies]="user.profile.studies" />
        <app-skills-profile class="p-0 mb-4" [skills]="user.profile.skills" />
      }
      </div>

      <!-- second column -->
      <div class="col-span-1 flex flex-col">
        <app-stats-profile [profile]="user.profile" class="p-0 mb-4"/>
        <app-users-suggestions [user]="user" class="p-0 mb-4"/>
      </div>
    } @else  {
      <div class="col-span-4 text-center">
        <h2 class="text-xl font-semibold">Utilisateur non trouvé</h2>
        <p class="text-gray-600">L'utilisateur que vous recherchez n'existe pas ou a été supprimé.</p>
      </div>
    }
  </div>

</div>

