<dialog class="modal" id="mfaModal">
  <div class="modal-box w-11/12 max-w-5xl">
    @if (!usingMfa) {
      <h3 class="text-lg font-bold my-2">Activation de la vérification en deux étapes</h3>
    } @else {
      <h3 class="text-lg font-bold my-2">Désactivation de la vérification en deux étapes</h3>
    }
    <div class="mx-auto text-center my-4">
      <ul class="steps steps-horizontal">
        <li class="step step-primary">Initialisation</li>
        <li [ngClass]="{ 'step-primary': step >= 2 }" class="step">Validation</li>
        <li [ngClass]="{ 'step-primary': step == 3 }" class="step">Finalisation</li>
      </ul>
    </div>

    @switch (step) {
      @case (1) {<app-step-one [usingMFA]="usingMfa" (completed)="nextStep()"/>}
      @case (2) {<app-step-two [usingMfa]="usingMfa" (completed)="nextStep($event)"/>}
      @case (3) {<app-step-three [usingMfa]="usingMfa" [QrImage]="qrCode"/>}
    }


    <div class="modal-action">
      <form class="text-center w-full" method="dialog">
        <button (click)="finalizeMFA()" [ngClass]="{ 'btn-primary': step === 3 }"
                class="btn mx-auto">{{ step < 3 ? 'Annuler' : 'Fermer' }}
        </button>
      </form>
    </div>
  </div>
</dialog>
