<div class="p-4 bg-white shadow rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Compétences</h2>
    <button class="text-xl bg-transparent hover:bg-gray-300 rounded-full px-2 py-1">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>

  <ul class="space-y-3">
    @for (skill of skills | slice:0:5; track skill.skill_id){
      <li>{{skill.name}}</li>
    } @empty {
      <li class="text-gray-500 text-center">Aucune compétence</li>
    }
  </ul>

  <div class="flex">
    <button class="btn btn-link p-0 mt-4 ms-auto text-blue-500">Afficher tous les compétences</button>
  </div>
</div>
