<div class="w-full flex h-screen">
    <!-- Col 1 -->
    <div class="bg-slate-100 p-8 shadow-lg w-1/2 h-full">
        <img ngSrc="assets/images/slogan.png" priority alt="logo" class="mx-auto w-1/3 mb-6" height="248" width="851"/>

        <div class="w-full mx-auto">
            <h1 class="text-5xl font-semibold text-amber-600 mb-6 leading-snug">Bienvenue dans votre communauté professionnelle</h1>

            <button (click)="googleLogin()" class="w-full btn btn-outline mb-4">
                <img height="30" width="30" ngSrc="https://img.icons8.com/color/48/google-logo.png" priority alt="google-logo" />
                Continue with Google
            </button>

            <a routerLink="/login" class="w-full btn btn-outline mb-6">S’identifier avec une adresse e-mail</a>

            <p class="text-sm text-center text-gray-600 mb-6">
                En s’inscrivant ou en se connectant, vous acceptez les
                <a href="#" class="text-blue-500">Conditions d’utilisation</a> et la <a href="#" class="text-blue-500">
                    Politique de confidentialité</a> de LinkedOut.
            </p>

            <h5 class="font-bold text-center">
                Nouveau sur LinkedIn ? <a routerLink="/register" class="text-blue-500">S’inscrire</a>
            </h5>
        </div>
    </div>

    <!-- Col 2: cover image -->
    <div class="w-1/2 h-full">
        <img ngSrc="assets/images/cover-acceuil.jpg" priority alt="cover" class="w-full h-full object-cover"
             height="2880" width="1920"/>
    </div>
</div>
