<footer class="footer p-4 bg-blue-50 w-100 left-0 bottom-0 ">
  <aside class="flex">
    <img ngSrc="assets/images/logo.png" width="400" height="400" priority alt="LinkedOut Logo" class="w-1/6 mr-4">
    <p class="text-gray-700">© 2024 LinkedOut <br>
      Made with ❤️ by <a href="https://github.com/YassineDER" target="_blank" class="text-blue-700">Yassine DERGAOUI</a>
    </p>
  </aside>
  <div>
    <h4 class="footer-title">Social</h4>
    <div class="grid grid-flow-col text-xl gap-4">
      <a><i class="bi bi-twitter-x text-white bg-black p-1 rounded"></i></a>
      <a><i class="bi bi-facebook text-white bg-blue-700 p-1 rounded"></i></a>
      <a><i class="bi bi-instagram text-white bg-red-500 p-1 rounded"></i></a>
    </div>
  </div>
</footer>
