<div class="p-4 bg-white shadow rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Compétences</h2>
    <button class="text-xl bg-transparent hover:bg-gray-300 rounded-full px-2 py-1">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>

  <ul class="space-y-3">
    <li>PostgreSQL</li>
    <li>ESLint</li>
    <li>Git</li>
    <li>Node.js</li>
  </ul>

  <div class="flex">
    <button class="btn btn-link p-0 mt-4 ms-auto text-blue-500">Afficher tous les compétences</button>
  </div>
</div>
