<br>
<div class="container p-3 box">
    <h1 class="title is-1 has-text-centered">SecureCapita</h1>

    <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()"
    class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h3 class="mb-5 subtitle is-5">Password reset</h3>

        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input type="password" minlength="" formControlName="password" tabindex="1" required matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <input type="password" minlength="6" formControlName="confirm_password" tabindex="1" required matInput>
        </mat-form-field>

        <button tabindex="3" [disabled]="resetForm.invalid && passwordsAreSame()" class="px-5" type="submit" mat-raised-button color="primary">Send request</button>
    </form>
    <br>
    <mat-divider></mat-divider>

    <div class="links mt-4 is-flex is-justify-content-space-around is-align-items-center">
        <a tabindex="4" class="is-size-5" routerLink="/register">Register</a>
        <a tabindex="5" class="is-size-5" routerLink="/login">Account login</a>
    </div>
</div>
<br>
