<br>
<div class="container p-3 box">
    <h1 class="title is-1 has-text-centered">SecureCapita</h1>

    <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()"
          class="flex flex-col justify-center items-center">
        <h3 class="mb-5 text-lg">Password reset</h3>

        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">New password</span>
            </label>
            <input type="password" minlength="6" formControlName="password" tabindex="1" required class="input input-bordered">
        </div>

        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Confirm new password</span>
            </label>
            <input type="password" minlength="6" formControlName="confirm_password" tabindex="2" required class="input input-bordered">
        </div>

        <button tabindex="3" [disabled]="resetForm.invalid || !passwordsAreSame()" class="btn btn-primary px-5" type="submit">Send request</button>
    </form>

    <br>

    <div class="links mt-4 is-flex is-justify-content-space-around is-align-items-center">
        <a tabindex="4" class="is-size-5" routerLink="/register">Register</a>
        <a tabindex="5" class="is-size-5" routerLink="/login">Account login</a>
    </div>
</div>
<br>
