<div class="is-flex is-align-items-center" style="height: 90vh;">
    <div class="container is-max-desktop box">
        <h1 class="title is-1 has-text-centered">LinkedOut</h1>

        <form [formGroup]="loginFrom" (ngSubmit)="submitLoginform()"
              class="flex flex-col justify-center items-center">
            <h3 class="mb-5 text-lg">Account login</h3>

            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Enter your email address</span>
                </label>
                <input type="email" formControlName="email" tabindex="1" required class="input input-bordered w-full max-w-xs">
            </div>

            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Enter your password</span>
                </label>
                <input [type]="hidePwd ? 'password' : 'text'" formControlName="password" tabindex="2" required class="input input-bordered w-full max-w-xs">
                <button tabindex="6" class="btn btn-square" (click)="hidePwd = !hidePwd">
                    <i class="text-xl">{{hidePwd ? 'visibility_off' : 'visibility'}}</i>
                </button>
            </div>

            <button tabindex="3" [disabled]="loginFrom.invalid" class="px-5 btn btn-primary" type="submit">Login</button>
        </form>
        <br>

        <div class="links mt-4 is-flex is-justify-content-space-around is-align-items-center">
            <a tabindex="4" class="is-size-6" routerLink="/register">Register</a>
        </div>
    </div>
</div>
