<div class="bg-slate-100 flex flex-col items-center h-screen">
  <a class="w-1/12 mr-auto ml-4 mt-4" [routerLink]="Path.HOME.toString()">
    <img alt="logo" height="248" ngSrc="assets/images/slogan.png" priority width="851"/></a>

  <form (ngSubmit)="submitLogin()" [formGroup]="loginForm" class="bg-white px-12 mt-6 py-8 rounded-lg shadow-lg w-1/3">
    <h2 class="text-3xl font-bold mb-2">S’identifier</h2>

    <p class="text-gray-500 mb-6">Tenez-vous au courant des évolutions de votre monde professionnel </p>

    <div class="space-y-4 mb-2">
      <input [formControl]="email" class="input input-bordered input-primary w-full" name="email" placeholder="Email"
             type="email"/>
      <label class="input input-bordered input-primary flex items-center gap-2 mb-2">
        <input [formControl]="password" [type]="passVisible ? 'text' : 'password'" class="grow" name="password"
               placeholder="Mot de passe"/>
        <button (click)="passVisible = !passVisible" type="button">
          <i class="bi bi-eye"></i></button>
      </label>
    </div>
    <span class="text-base">
          <a class="text-blue-500" [routerLink]="Path.REQUEST_PASSWORD_RESET.toString()">Mot de passe oublié ? </a>
      </span>

    <button class="btn btn-primary text-white text-lg w-full my-3" type="submit">S’identifier</button>

    <button class="btn text-lg w-full mb-4" type="button">
      <i class="bi bi-google"></i> Continuer avec Google
    </button>

    <h5 class="font-semibold text-center">
      Nouveau sur Linkedout ? <a class="text-blue-500" [routerLink]="Path.REGISTER.toString()">Inscrivez-vous</a>
    </h5>
  </form>
</div>
