<div class="p-3 bg-white shadow rounded-lg">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-bold">Activité</h2>
  </div>

  <div role="tablist" class="tabs tabs-lifted">
    <a role="tab" class="tab" [ngClass]="actualTab === Tabs.POSTS ? 'tab-active' : ''" (click)="setTab(Tabs.POSTS)">Posts</a>
    <a role="tab" class="tab ml-4" [ngClass]="actualTab === Tabs.COMMENTS ? 'tab-active' : ''" (click)="setTab(Tabs.COMMENTS)">Commentaires</a>
  </div>

  <div class="mt-4 text-sm">
    @if (actualTab === Tabs.POSTS) {
      @for (post of profile.posts | slice:0:2 ; track post.post_id) {
      <div>
        <p class="mb-2"><strong>Vous</strong> avez publié ceci • <span [appElapsedDate]="post.created"></span></p>
        <p class="text-gray-600 whitespace-pre-wrap">{{post.description.slice(0, 250)}}...</p>
      </div>
      <div class="divider "></div>
      } @empty {
      <p class="text-gray-600 text-center my-2">Aucun post trouvé</p>
      }
    }
    @else {
      @for (comment of profile.comments | slice:0:3 ; track comment.comment_id) {
      <div>
        <p class="mb-2"><strong>Vous</strong> avez commenté ceci • <span [appElapsedDate]="comment.created_at"></span></p>
        <p class="text-gray-600">{{comment.content}}</p>
      </div>
      <div class="divider "></div>
      } @empty {
      <p class="text-gray-600 text-center my-2">Aucun commentaire trouvé</p>
      }
    }
  </div>

  <div class="flex">
    <a [routerLink]="Path.POSTS.toString()" class="btn btn-link p-0 mt-4 ms-auto text-blue-500">Voir plus de posts</a>
</div>

</div>
