@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*noinspection CssUnknownTarget*/
@import '@ctrl/ngx-emoji-mart/picker';

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.gradient-bg {
    background: linear-gradient(295deg,#004dac,#002655,#3264a1,#2d6cbc);
    background-size: 240% 240%;
    animation: gradient-animation 12s ease infinite;
}

html, body {
    height: 100vh;
    margin: 0;
}

app-alert {
    z-index: 9999;
    position: fixed;
    top: 10px;
    right: 10px;
}




