<div class="p-4 bg-white shadow rounded-lg">
  <div class="flex justify-between mb-4">
    <h2 class="text-2xl font-bold">Experiences</h2>
    <button class="text-xl bg-transparent hover:bg-gray-300 rounded-full px-2 py-1">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>

  <div class="mb-6">
  @for (experience of experiences; track experience.experience_id) {
      <div class="flex items-start mb-4">
        <img [appSrc]="experience.company.imageName" width="40" height="40" alt="Company Logo" class="mr-4 rounded-full">
        <div>
          <h3 class="text-xl font-semibold">{{ experience.title }}</h3>
          <p class="text-gray-500 text-sm">{{ experience.company.imageName }} • {{ experience.location }}</p>
          <p class="text-gray-500 text-sm">{{ utils.formatDate(experience.start_date) }}
            — {{ utils.formatDate(experience.end_date) }} •
            <span class="text-blue-500">{{ utils.totalDuration(experience.start_date, experience.end_date) }}</span></p>
          <p class="mt-2 text-gray-700 text-sm">{{ experience.description }}</p>
        </div>
      </div>
      <div class="divider"></div>
  } @empty {
      <p class="text-gray-500 text-center">Aucune experience renseignée</p>
  }
  </div>
</div>
