<div class="p-4 shadow rounded-lg">
  <h1 class="font-semibold text-xl mb-3">Tableau de bord</h1>
  <div class="my-4">
    <div class="text-5xl font-bold text-primary">{{ profile_views }}</div>
    <div class="text-gray-500">Vues totales</div>
  </div>
  <div class="my-4">
    <div class="text-5xl font-bold text-primary">{{ today_views }}</div>
    <div class="text-gray-500">Vues aujourd'hui</div>
  </div>
  <div class="my-4">
    <div class="text-5xl font-bold text-primary">{{ search_apperances }}</div>
    <div class="text-gray-500">Apparitions dans les recherches</div>
  </div>
</div>
