<div class="bg-white rounded-lg shadow p-6">
  <h2 class="text-xl font-bold mb-4">Informations de profil</h2>

  <ul>
    <button type="button">
      <li class="flex justify-between items-center mb-2">
        <span>Nom, lieu et secteur</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </button>
  </ul>

  <hr class="my-6">

  <h2 class="text-xl font-bold mt-6 mb-4">Préférences générales</h2>

  <ul>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Lancer les vidéos automatiquement</span>
        <div class="flex items-center">
          <span class="mr-2 text-sm text-gray-500">Activé</span>
          <i class="bi bi-chevron-right"></i>
        </div>
      </li>
    </a>

    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Effets sonores</span>
        <div class="flex items-center">
          <span class="mr-2 text-sm text-gray-500">Activé</span>
          <i class="bi bi-chevron-right"></i>
        </div>
      </li>
    </a>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Affichage des photos de profil</span>
        <div class="flex items-center">
          <span class="mr-2 text-sm text-gray-500">Tous les membres de LinkedIn</span>
          <i class="bi bi-chevron-right"></i>
        </div>
      </li>
    </a>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Préférences du fil d'actualité</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Personnes que vous ne suivez plus</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>
  </ul>

  <hr class="my-6">
  <h2 class="text-xl font-bold mt-6 mb-4">Gestion du compte</h2>

  <ul>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Désactiver temporairement le compte</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>
    <a>
      <li class="flex justify-between items-center mb-2">
        <span>Fermer le compte</span>
        <i class="bi bi-chevron-right"></i>
      </li>
    </a>
  </ul>
</div>
