<div class="p-4 bg-white shadow rounded-lg">
  <div class="flex justify-between mb-4">
    <h2 class="text-2xl font-bold">Éducation / Formations</h2>
    <button class="text-xl bg-transparent hover:bg-gray-300 rounded-full px-2 py-1">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>

  <div class="mb-6">
    <div class="flex items-start mb-4">
      <img [ngSrc]="profile.banner_url" priority width="40" height="40" alt="Company Logo" class="mr-4 rounded-full">
      <div>
        <h3 class="text-xl font-semibold">Nantes Université</h3>
        <p class="text-gray-500 text-sm">Master 1 (M1), Informatique • Architecture Logicielle</p>
        <p class="text-gray-500 text-sm">Juillet 2023 — Present • <span class="text-blue-500">1 ans 1 mois</span></p>
      </div>
    </div>
    <div class="divider"></div>
  </div>


</div>
