<div class="mx-4 my-5">
  <div class="gap-4 grid grid-cols-4 w-full">
    @if ((user)) {
      <!-- first column -->
      <div class="col-span-3 flex flex-col">
        <app-overview-profile class="p-0 mb-4" [user]="user" />
        <app-about-profile class="p-0 mb-4" [user]="user" />
        <app-activity-profile class="p-0 mb-4" [user]="user" />
        <app-experience-profile class="p-0 mb-4" [user]="user" />
        <app-education-profile class="p-0 mb-4" [user]="user" />
        <app-skills-profile class="p-0 mb-4" [user]="user" />
      </div>

      <!-- second column -->
      <div class="col-span-1 flex flex-col">
        <app-stats-profile [user]="user" class="p-0 mb-4"/>
        <app-users-suggestions [user]="user" class="p-0 mb-4"/>
      </div>
    }
  </div>

</div>

